.vechileforrent-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  /* width: max-content; */
  width: 40vw;
  padding: 10px;
}
.vechileforrent-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.vechileforrent-datepicker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
